@color1: #FFFFFF;
@color2: #FFFFFF;
@color3: #FFFFFF;
@color4: #FFFFFF;
@color5: #FFFFFF;

@text-color1: @color1;
@text-color2: @color2;

@button-color: @color3;

@title-color1: @color4;
@title-color2: @color5;
