@color1: #FFFFFF;
@color2: #FFFFFF;
@color3: #FFFFFF;
@color4: #FFFFFF;
@color5: #FFFFFF;

@text-color1: @color1;
@text-color2: @color2;

@button-color: @color3;

@title-color1: @color4;
@title-color2: @color5;

@blue1: #1C41A6;
@blue2: #0E2153;
@blue3: #0E2153;
@white1: #FFFFFF;
@white2: rgba(255,255,255,0.05);
@white3: rgba(255,255,255,0.35);
@white4: rgba(255,255,255,0.25);
@white5: rgba(255,255,255,0.40);
@black1: #000000;
@black2: rgba(0,0,0,0.3);
@black3: rgba(0,0,0,0.8);
@black4: rgba(20,20,20,0.7);
@gray1: #707070;
@gray2:#575757;
@gray3:#1E1E1E;
@vert1: #0B6F00;
@vert2: #063800;
@rouge1: #931009;
@rouge2: #4A0505;
@navbar:linear-gradient(@blue1, @blue2);
@boutonvert1:linear-gradient(@vert1, @vert2);
@boutonvert2:linear-gradient(@vert2, @vert1);
@boutongris1:linear-gradient(@gray2, @gray3);
@boutongris2:linear-gradient(@gray3, @gray2);
@boutonrouge1:linear-gradient(@rouge1, @rouge2);
@boutonrouge2:linear-gradient(@rouge2, @rouge1);
