@import 'home_made/class';

@import 'variables';
@import 'fonts';
@import 'functions';

@import 'accueil';
@import 'accueilPerso';
@import 'connexion';
@import 'inscription';
@import 'palmares';
@import 'creation';
@import 'jeu';

html {
	body {
		background-image: url("../img/ardoise.jpg");
		* {
			outline: none;
		}

		header {}
		nav {
			background: @navbar;
			.default-border(0);
			border-bottom-width: 2px;

			ul.navbar{
				display: inline-flex;
				width: 100%;
				list-style-type: none;
				li{
					float: left;
					&:first-child{
						.default-border(0, @blue3);
						border-right-width: 4px;
						.font('cheeseburger',0.9em);

						a{
							padding: 0.35em;
							padding-left: 3em;
							cursor: pointer;
							img{
								.border-radius(100%);
								position: absolute;
								top: 4px;
								left: 10px;
								height: 2em;
								width: auto;
							}
						}
					}

					a {
						display: block;
						text-align: center;
						text-decoration: none;
						color: @white1;
						font-size: 1.5em;
						padding: 0.5em;
						cursor: pointer;
						&:hover{
							background-color: @black2;
						}
					}
				}
				div{
					position: absolute;
					right: 0;
					display: inline-block;
					span{
						display: block;
						text-align: center;
						text-decoration: none;
						color: @white1;
						font-size: 1.5em;
						padding: 0.5em;
					}
					li:first-child{
						font-size: 1em;
						font-family: Arial;
						a{
							padding: 0.5em;
						}
						img{
							.border-radius(100%);
							position: absolute;
							top: 4px;
							left: -40px;
							height: 1.8em;
							width: 1.8em;
						}
					}
					li.deconnexion{
						cursor: pointer;
						&:hover{
							background-color: @black2;
						}
						img{
							top: 5px;
							.border-radius(100%);
							position: absolute;
							left: 50%;
							transform: translateX(-50%);
							width: 1.8em;
							height: 1.8em;
						}
						span{
							padding: 0.5em;
							font-size: 0.4em;
							margin-top: 5.5em;
						}
					}
				}
			}
		}
		main {
			button,select{
				outline: 0;
			}
		}

		footer {
			.default-border(0);
			border-top-width: 2px;
			text-align: right;
			background-color: @white1;
			a{
				color: @black1;
				padding-right: 2%;
				font-size: 1.2em;
				text-decoration: none;
			}
			.copyright{
				display: inline-block;
				width: auto;
				background-color: @white1;
				color: @black1;
				font-size: 1.2em;
				padding-right: 2%;
			}
		}
	}
}
