.QPushButton:focus, .GreenPushButton:focus, .GreyPushButton:focus, .RedPushButton:focus {
	outline: none;
}

.QPushButton, .GreenPushButton, .GreyPushButton, .RedPushButton {
	color: white;

	font-weight: bold;

	border: 1px solid black;
	border-radius: 10px;

	padding: 0.5em;
}

.QPushButton, .GreenPushButton {
	background: qlineargradient(x1:0 y1:0, x2:0 y2:1, stop:0 #0B6F00, stop:1 #063800);
}

.QPushButton:pressed, .GreenPushButton:pressed {
	background: qlineargradient(x1:0 y1:0, x2:0 y2:1, stop:0 #063800, stop:1 #0B6F00);
}

.GreyPushButton {
	background: qlineargradient(x1:0 y1:0, x2:0 y2:1, stop:0 #575757, stop:1 #1E1E1E);
}

.GreyPushButton:pressed {
	background: qlineargradient(x1:0 y1:0, x2:0 y2:1, stop:0 #1E1E1E, stop:1 #575757);
}

.RedPushButton {
	background: qlineargradient(x1:0 y1:0, x2:0 y2:1, stop:0 #931009, stop:1 #4A0505);
}

.RedPushButton:pressed {
	background: qlineargradient(x1:0 y1:0, x2:0 y2:1, stop:0 #4A0505, stop:1 #931009);
}

MainWindow {
	background-color: rgba(255, 0, 0, 0);
}

.QWidget {
	background-color: rgba(255, 255, 255, 0);
}

QTabWidget::pane {
	border: 0px ridge black;
}

QTabWidget::pane > * {
	background-color: transparent;
}

QTabBar::tab {
	background: qlineargradient(x1:0 y1:0, x2:0 y2:1, stop:0 #C1C1C1, stop:1 #686868);
	color: black;
}

QTabBar::tab:selected {
	background: qlineargradient(x1:0 y1:0, x2:0 y2:1, stop:0 #575757, stop:1 #1E1E1E);
	color: white;
}

QTabBar::tab:first {
	border: 0px solid black;

	padding: 0 1em;

	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

QTabBar::tab:last {
	border: 0px solid black;

	padding: 0 1em;

	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

QLabel {
	color: white;
	font-weight: bold;
}

.TitleLabel {
	font-size: 30px;
	color: rgba(255, 255, 205, 0.8);
	font-weight: normal;
}

.TitleLabel, .H2TitleLabel {
	color: rgba(255, 255, 205, 0.8);
	font-weight: normal;
}

.TableWidget {
	background-color: rgba(255, 255, 255, 0.05);
	border: 0px solid white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.TableWidget > Widget {
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

Dialog {
	background-color: rgb(40, 40, 40);
	border: 3px ridge rgb(20, 20, 20);
	padding-top: 10px;
	border-radius: 10px;
}

Dialog > .H2TitleLabel {
	color: white !important;
}
